<?php //-->
/*
 * A Custom Library
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */
class {{job_test_namespace}}{{capital name}}RestoreTest extends PHPUnit_Framework_TestCase
{
    public function testRun()
	{
		$thrown = false;
		try {
			eve()
				->job('{{name}}-restore')
				->run();
		} catch(Exception $e) {
			$this->assertInstanceOf('Eve\\Framework\\Job\\Exception', $e);
			$thrown = true;
		}
		
		$this->assertTrue($thrown);
		
		${{name}} = eve()->registry()->get('test', '{{name}}');
		
		$results = eve()
			->job('{{name}}-restore')
			->setData(array('{{name}}_id' => ${{name}}['{{name}}_id']))
			->run();
		
		$this->assertTrue(is_numeric($results['{{name}}']['{{name}}_id']));
	}
}