<?php //-->
/**
 * A Custom Project
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

namespace {{model_namespace}}\\{{capital name}};

use Eve\\Framework\\Model\\Base;
use Eve\\Framework\\Model\\Argument;
use Eve\\Framework\\Model\\Exception;

/**
 * {{singular}} Model Restore
 *
 * GUIDE:
 * -- eve() - The current server controller
 *    use this to access the rest of the framework
 *
 *    -- eve()->database() - Returns the current database
 *
 *    -- eve()->model('noun') - Returns the given model factory
 *
 *    -- eve()->job('noun-action') - Returns a job following noun/action
 *
 *    -- eve()->settings('foo') - Returns a settings data originating
 *    from the settings path. ie. settings/foo.php
 *
 *    -- eve()->registry() - Returns Eden\\Registry\\Index used globally
 *
 * @vendor   Custom
 * @package  Project
 * @author   My Name <my@email.com>
 * @standard PSR-2
 */
class Restore extends Base
{
    /**
     * Returns errors if any
     *
     * @param array $data   The item before processing
     * @param array $errors Existing errors
     *
     * @return array error
     */
    public function errors(array $data = array(), array $errors = array())
    {
        //prepare
        $data = $this->prepare($data);

        // {{name}}_id - required
        if(!isset($data['{{name}}_id'])
        || !$this('validation', $data['{{name}}_id'])->isType('int', true)) {
            $errors['{{name}}_id'] = self::INVALID_ID;
        }

        return $errors;
    }

    /**
     * Processes the form
     *
     * @param array $data The item to process
     *
     * @return mixed
     */
    public function process(array $data = array())
    {
        //prevent uncatchable error
        if(count($this->errors($data))) {
            throw new Exception(self::FAIL_406);
        }

        //prepare
        $data = $this->prepare($data);

        $model = eve()
            ->database()
            ->model()
            ->set{{capital name}}Id($data['{{name}}_id'])
            ->set{{capital name}}Active('1');

        $model->save('{{name}}');

        $this->trigger('{{name}}-restore', $model);

        return $model;
    }
}
