<?php //-->
/*
 * A Custom Library
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

namespace {{namespace}}\\Action\\{{capital name}};

use Eve\\Framework\\Action\\Html;

/**
 * {{singular}} HTML Action Search
 *
 * GUIDE:
 * -- eve() - The current server controller
 *    use this to access the rest of the framework
 *
 *    -- eve()->database() - Returns the current database
 *
 *    -- eve()->model('noun') - Returns the given model factory
 *
 *    -- eve()->job('noun-action') - Returns a job following noun/action
 *
 *    -- eve()->settings('foo') - Returns a settings data originating
 *    from the settings path. ie. settings/foo.php
 *
 *    -- eve()->registry() - Returns Eden\\Registry\\Index used globally
 *
 * -- $this->request - The Request Object using Eden\\Registry\\Index
 *
 *    -- $this->request->get('post') - $_POST data
 *       You are free to use the $_POST variable if you like
 *
 *    -- $this->request->get('get') - $_GET data
 *       You are free to use the $_GET variable if you like
 *
 *    -- $this->request->get('server') - $_SERVER data
 *       You are free to use the $_SERVER variable if you like
 *
 *    -- $this->request->get('body') - raw body for 
 *       POST requests that provide JSON data for example
 *       instead of the default x-form-data
 *
 *    -- $this->request->get('method') - GET, POST, PUT or DELETE
 *
 * -- $this->response - The Response Object using Eden\\Registry\\Index
 *
 *    -- $this->response->set('body', 'Foo') - Sets the response body.
 *       Alternative for returning a string in render()
 *
 *    -- $this->response->set('headers', 'Foo', 'Bar') - Sets a 
 *       header item to 'Foo: Bar' given key/value
 *
 *    -- $this->response->set('headers', 'Foo', '') - Sets a 
 *       header item to 'Foo' given that no value is present
 *       QUIRK: $this->response->set('headers', 'Foo') will erase
 *       all existing headers
 */
class Search extends Html 
{
    const FAIL_401 = 'You do not have permissions to search';
    const FAIL_404 = 'No IDs or action found.';
    const SUCCESS_200 = '{{plural}} successfully %s';
    
    protected $title = 'Search {{Plural}}';
    protected $range = 50;
    
    /**
     * Main action call
     *
     * @return string|null|void
     */
    public function render() 
    {
        //-----------------------//
        // 1. Get Data
        $data = $this->request->get('get');
        
        //-----------------------//
        // 2. Validate
        {{#if permissions}}
        //if no {{permissions}}_id
        if(!isset($_SESSION['me']['{{permissions}}_id'])) {
            //permission check failed
            return $this->fail(
                self::FAIL_401,
                '/login');
        }
        
        {{/if}}
        //-----------------------//
        // 3. Process
        if(!empty($_POST)) {
            return $this->check();
        }
        
        $data['range'] = $this->range;
        
        $mode = 'active';
        if(isset($data['mode'])) {
           $mode = $data['mode'];
        }
        
        switch($mode) {
            case 'active':
                $data['filter']['{{name}}_active'] = 1;
                break;
            case 'trash':
                $data['filter']['{{name}}_active'] = 0;
                break;
        }
        
        $search = eve()
            ->model('{{name}}')
            ->search()
            ->process($data);
        
        {{#if permissions}}
        //join {{permissions}}_id
        $search
            ->innerJoinOn(
                '{{name}}_{{permissions}}', 
                '{{name}}_{{permissions}}_{{name}} = {{name}}_id')
            ->filterBy{{capital name}}{{capital permissions}}{{capital permissions}}($_SESSION['me']['{{permissions}}_id']);
        
        {{/if}}
        //get rows  
        $rows = $search->getRows();
        //get total
        $total = $search->getTotal();
        
        foreach($rows as $i => $row) {
            {{#loop fields}}
            {{#when value.type '==' 'date'}}
            if(!strtotime($row['{{key}}'])) {
                   $rows[$i]['{{key}}'] = null;
            } else {
                $rows[$i]['{{key}}'] = date('M d', strtotime($row['{{key}}']));
            }
            {{/when}}
            {{#when value.type '==' 'datetime'}}
            if(!strtotime($row['{{key}}'])) {
                   $rows[$i]['{{key}}'] = null;
            } else {
                $rows[$i]['{{key}}'] = date('M d', strtotime($row['{{key}}']));
            }
            {{/when}}
            {{#when value.type '==' 'time'}}
            if(!strtotime($row['{{key}}'])) {
                   $rows[$i]['{{key}}'] = null;
            } else {
                $rows[$i]['{{key}}'] = date('g:i A', strtotime($row['{{key}}']));
            }
            {{/when}}
            {{#when value.type '==' 'boolean'}}
            $rows[$i]['{{key}}'] = ((int) $row['{{key}}']) ? 'Yes': 'No';
            {{/when}}
            {{/loop}}
            
            $rows[$i]['{{name}}_updated'] = date('M d', strtotime($row['{{name}}_updated']));
        }
        
        $this->body['rows'] = $rows;
        $this->body['total'] = $total;
        $this->body['range'] = $this->range;
        $this->body['mode'] = $mode;
        $this->body['keyword'] = null;
        
        if(isset($_GET['keyword'])) {
            $this->body['keyword'] = $_GET['keyword'];
        }
        
        //NOTE: add anything extra to body here
        
        //success
        return $this->success();
    }
    
    /**
     * When the form is submitted
     *
     * @return void
     */
    protected function check() 
    {
        //-----------------------//
        // 1. Get Data
        $data = $this->request->get('post');
        
        //-----------------------//
        //2. Validate
        if(!isset($data['action']) 
            || !isset($data['id']) 
            || !is_array($data['id'])
        ) {
            return $this->fail(
                self::FAIL_404,
                '/{{name}}/search');
        }
        
        //-----------------------//
        //3. Process
        foreach($data['id'] as $id) {
               $item = array('{{name}}_id' => $id);
            
            try {
                eve()
                    ->job('{{name}}-'.$data['action'])
                    ->setData($item)
                    ->run();
            } catch(\Exception $e) {
           		return $this->fail(
                    $e->getMessage(),
                    '/{{name}}/search');
            }
        }
        
        return $this->success(
            sprintf(self::SUCCESS_200, $data['action'].'d'), 
            '/{{name}}/search');
    }
}
