<?php //-->
/*
 * A Custom Library
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

namespace {{namespace}}\\Action\\{{capital name}};

use Eve\\Framework\\Action\\Html;

/**
 * {{singular}} HTML Action Search
 *
 * GUIDE:
 * -- eve() - The current server controller
 *    use this to access the rest of the framework
 *
 *    -- eve()->database() - Returns the current database
 *
 *    -- eve()->model('noun') - Returns the given model factory
 *
 *    -- eve()->job('noun-action') - Returns a job following noun/action
 *
 *    -- eve()->settings('foo') - Returns a settings data originating
 *    from the settings path. ie. settings/foo.php
 *
 *    -- eve()->registry() - Returns Eden\\Registry\\Index used globally
 *
 * -- $this->request - The Request Object using Eden\\Registry\\Index
 *
 *    -- $this->request->get('post') - $_POST data
 *       You are free to use the $_POST variable if you like
 *
 *    -- $this->request->get('get') - $_GET data
 *       You are free to use the $_GET variable if you like
 *
 *    -- $this->request->get('server') - $_SERVER data
 *       You are free to use the $_SERVER variable if you like
 *
 *    -- $this->request->get('body') - raw body for 
 *       POST requests that provide JSON data for example
 *       instead of the default x-form-data
 *
 *    -- $this->request->get('method') - GET, POST, PUT or DELETE
 *
 * -- $this->response - The Response Object using Eden\\Registry\\Index
 *
 *    -- $this->response->set('body', 'Foo') - Sets the response body.
 *       Alternative for returning a string in render()
 *
 *    -- $this->response->set('headers', 'Foo', 'Bar') - Sets a 
 *       header item to 'Foo: Bar' given key/value
 *
 *    -- $this->response->set('headers', 'Foo', '') - Sets a 
 *       header item to 'Foo' given that no value is present
 *       QUIRK: $this->response->set('headers', 'Foo') will erase
 *       all existing headers
 */
class Search extends Html 
{
    protected $title = 'Search {{Plural}}';
    protected $range = 50;
    
    /**
     * Main action call
     *
     * @return string|null|void
     */
    public function render() 
    {
        $data = $this->request->get('get');
        
        $data['range'] = 50;
        
        $mode = 'active';
        if(isset($data['mode'])) {
               $mode = $data['mode'];
           }
        
        switch($mode) {
            case 'active':
                $data['filter']['{{name}}_active'] = 1;
                break;
            case 'trash':
                $data['filter']['{{name}}_active'] = 0;
                break;
        }
        
        //get rows
        $rows = eve()
            ->model('{{name}}')
            ->list()
            ->process($data)
            ->getRows();
        
        //get total
        $total = eve()
            ->model('{{name}}')
            ->list()
            ->process($data)
            ->getTotal();
        
        foreach($rows as $i => $row) {
            {{#loop fields}}
            {{#when value.type '==' 'date'}}
            $rows[$i]['{{key}}'] = date('F d, Y', strtotime($row['{{key}}']));
            {{/when}}
            {{#when value.type '==' 'datetime'}}
            $rows[$i]['{{key}}'] = date('F d, Y g:i A', strtotime($row['{{key}}']));
            {{/when}}
            {{#when value.type '==' 'time'}}
            $rows[$i]['{{key}}'] = date('g:i A', strtotime($row['{{key}}']));
            {{/when}}
            {{#when value.type '==' 'boolean'}}
            $rows[$i]['{{key}}'] = ((int) $row['{{key}}']) ? 'Yes': 'No';
            {{/when}}
            {{/loop}}
        }
        
        $this->body['rows'] = $rows;
        $this->body['total'] = $total;
        $this->body['range'] = $this->range;
        $this->body['mode'] = $mode;
        //NOTE: add anything extra to body here
        
        //success
        return $this->success();
    }
}
