<?php //-->
/*
 * A Custom Library
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

namespace {{page_namespace}}\\{{capital name}};

use Eve\\Framework\\Action\\Html;

/**
 * {{singular}} HTML Action Update
 *
 * GUIDE:
 * -- eve() - The current server controller
 *    use this to access the rest of the framework
 *
 *    -- eve()->database() - Returns the current database
 *
 *    -- eve()->model('noun') - Returns the given model factory
 *
 *    -- eve()->job('noun-action') - Returns a job following noun/action
 *
 *    -- eve()->settings('foo') - Returns a settings data originating
 *    from the settings path. ie. settings/foo.php
 *
 *    -- eve()->registry() - Returns Eden\\Registry\\Index used globally
 *
 * -- $this->request - The Request Object using Eden\\Registry\\Index
 *
 *    -- $this->request->get('post') - $_POST data
 *       You are free to use the $_POST variable if you like
 *
 *    -- $this->request->get('get') - $_GET data
 *       You are free to use the $_GET variable if you like
 *
 *    -- $this->request->get('server') - $_SERVER data
 *       You are free to use the $_SERVER variable if you like
 *
 *    -- $this->request->get('body') - raw body for 
 *       POST requests that provide JSON data for example
 *       instead of the default x-form-data
 *
 *    -- $this->request->get('method') - GET, POST, PUT or DELETE
 *
 * -- $this->response - The Response Object using Eden\\Registry\\Index
 *
 *    -- $this->response->set('body', 'Foo') - Sets the response body.
 *       Alternative for returning a string in render()
 *
 *    -- $this->response->set('headers', 'Foo', 'Bar') - Sets a 
 *       header item to 'Foo: Bar' given key/value
 *
 *    -- $this->response->set('headers', 'Foo', '') - Sets a 
 *       header item to 'Foo' given that no value is present
 *       QUIRK: $this->response->set('headers', 'Foo') will erase
 *       all existing headers
 */
class Update extends Html 
{
    const FAIL_406 = 'There are some errors on the form.';
    const FAIL_401 = 'You do not have permissions to update.';
    const FAIL_404 = '{{singular}} does not exist';
    const SUCCESS_200 = '{{singular}} successfully updated!';

    protected $title = 'Update {{singular}}';
    
    /**
     * Main action call
     *
     * @return string|null|void
     */
    public function render() 
    {
        //-----------------------//
        // 1. Get Data
        $data = array();
        
        //get id from the url
        $data['{{name}}_id'] = $this->request->get('variables', 0);
        
        //was it not included in the url ?
        if(!$data['{{name}}_id'] 
        && isset($_SESSION['me']['{{name}}_id'])) {
            //get it from the session
            $data['{{name}}_id'] = $_SESSION['me']['{{name}}_id'];
        }
        
        //it's going to fail if we don't have the {{name}}_id
        if(!$data['{{name}}_id']) {
            //we might as we an fail it now
            return $this->fail(
                self::FAIL_404,
                '{{url}}/{{name}}/search');
        }
        
        {{#if permissions}}
        //if no {{permissions}}_id
        if(!isset($_SESSION['me']['{{permissions}}_id'])) {
            //permission check failed
            return $this->fail(
                self::FAIL_401,
                '{{url}}/{{name}}/search');
        }
        
        $data['{{permissions}}_id'] = $_SESSION['me']['{{permissions}}_id'];
        {{/if}}
        
        //-----------------------//
        // 2. Validate
        {{#if permissions}}
        //check permissions
        $yes = eve()
            ->model('{{name}}')
            ->permissions(
                $data['{{name}}_id'], 
                $data['{{permissions}}_id']);

        //if not permitted, fail
        if(!$yes) {
            return $this->fail(
                self::FAIL_401,
                '{{url}}/{{name}}/search');
        }
        {{/if}}
        //does it exist?
        $row = eve()
            ->model('{{name}}')
            ->detail()
            ->process($data)
            ->getRow();
        
        if(!$row) {
            return $this->fail(
                self::FAIL_404,
                '{{url}}/{{name}}/search');
        }
        
        //-----------------------//
        // 3. Process
        //if it's a post
        if(!empty($_POST)) {
            return $this->check($data);
        }
        
        $this->body['item'] = $row;
        
        //NOTE: add anything extra to body here
        
        //success
        return $this->success();
    }

    /**
     * When the form is submitted
     *
     * @param array
     * @return void
     */
    protected function check($data) 
    {
        //-----------------------//
        // 1. Get Data
        $data = array('item' => array_merge($data, $this->request->get('post')));
        
        {{#loop fields}}{{#when value.field.[0] '==' 'checkbox'}}{{#if value.options}}
        //merge {{key}}
        if(isset($data['item']['{{key}}'])
            && is_array($data['item']['{{key}}'])
        ) {
            $data['item']['{{key}}'] = implode(',', $data['item']['{{key}}']);
        }
        
        {{/if}}{{/when}}{{#when value.field.[0] '===' 'date'}}
        if(isset($data['item']['{{key}}']) 
            && !strtotime($data['item']['{{key}}'])
        ) {
            $data['item']['{{key}}'] = null;
        }
        {{/when}}{{/loop}}
        //-----------------------//
        //2. Validate
        $errors = eve()
            ->model('{{name}}')
            ->update()
            ->errors($data['item']);
        
        //if there are errors
        if(!empty($errors)) {
            return $this->fail(
                self::FAIL_406, 
                $errors, 
                $data['item']);
        }
        
        //-----------------------//
        //3. Process
        try {
            $results = eve()
                ->job('{{name}}-update')
                ->setData($data['item'])
                ->run();
        } catch(\Exception $e) {
            return $this->fail(
                $e->getMessage(), 
                array(), 
                $data['item']);
        }
        
        //NOTE: do something with results here
        
        return $this->success(
            self::SUCCESS_200, 
            '{{url}}/{{name}}/search');
    }
}
