<?php //-->
/**
 * A Custom Project
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

class {{model_test_namespace}}_{{capital name}}_Create_Test extends PHPUnit_Framework_TestCase
{
    public function testErrors()
    {
        $errors = eve()->model('{{name}}')->create()->errors();

        {{#loop fields}}{{#if value.required}}
        $this->assertEquals('Cannot be empty', $errors['{{key}}']);
        {{/if}}{{/loop}}
    }

     public function testProcess()
    {
        {{#loop fields}}
        {{#when value.field.[0] '===' 'file'}}
        $path = eve()->path('public') . '/logo.png';
        $_FILES['{{key}}']['tmp_name'] = sys_get_temp_dir().'/test-123';
        $contents = file_get_contents(eve()->path('public') . '/logo.png');
        eve('file', $path)->setContent($contents);
        {{/when}}
        {{/loop}}

        $model = eve()->model('{{name}}')->create()->process(array(
            {{#loop fields}}{{#if value.required}}
            {{#when value.field.[0] '==' 'password'}}
            '{{key}}' => md5({{value.sample}}),
            {{/when}}{{#when value.field.[0] '!=' 'password'}}
            '{{key}}' => {{value.sample}},{{/when}}
            {{#when value.field.[0] '==' 'file'}}
            '{{key}}' => $_FILES['{{key}}']['tmp_name'],
            {{/when}}
            {{/if}}{{/loop}}
            ));

        eve()->registry()->set('test', '{{name}}', $model->get());
        $this->assertTrue(is_numeric($model['{{name}}_id']));
    }
}