<?php //-->
/**
 * A Custom Project
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */
class {{model_test_namespace}}{{capital name}}IndexTest extends PHPUnit_Framework_TestCase
{
    {{#loop model}}
    {{#when value '!==' 'index'}}
    public function test{{capital value}}()
    {
        $class = eve()->model('{{../name}}')->{{value}}();
        $this->assertInstanceOf('Eve\\Model\\{{capital ../name}}\\{{capital value}}', $class);
    }
    {{/when}}
    {{/loop}}

    {{#loop relations}}

    public function testLink{{capital key}}()
    {
        ${{../name}} = eve()->registry()->get('test', '{{../name}}');

        //link
        $model = eve()
            ->model('{{../name}}')
            ->link{{capital key}}(
                ${{../name}}['{{../name}}_id'],
                400);

        //test
        $this->assertEquals(
            ${{../name}}['{{../name}}_id'],
            $model['{{../name}}_{{key}}_{{../name}}']);

        $this->assertEquals(
            400,
            $model['{{../name}}_{{key}}_{{key}}']);
    }
    {{/loop}}

     {{#if permissions}}
    public function testPermissions()
    {
        ${{name}} = eve()->registry()->get('test', '{{name}}');

        $yes = eve()
            ->model('{{name}}')
            ->permissions(
                ${{name}}['{{name}}_id'],
                400);

        $this->assertTrue($yes);

        $yes = eve()
            ->model('{{name}}')
            ->permissions(${{name}}['{{name}}_id'], 222);

        $this->assertFalse($yes);
    }
    {{/if}}

    {{#loop relations}}
    public function testUnlink{{capital key}}()
    {
        ${{../name}} = eve()->registry()->get('test', '{{../name}}');

        $model = eve()
            ->model('{{../name}}')
            ->unlink{{capital key}}(
                ${{../name}}['{{../name}}_id'],
                400);

        $this->assertEquals(
            ${{../name}}['{{../name}}_id'],
            $model['{{../name}}_{{key}}_{{../name}}']);

        $this->assertEquals(
            400,
            $model['{{../name}}_{{key}}_{{key}}']);
    }

    {{/loop}}
}