<?php //-->
/**
 * A Custom Project
 *
 * Copyright and license information can be found at LICENSE
 * distributed with this package.
 */

class {{model_test_namespace}}_{{capital name}}_Restore_Test extends PHPUnit_Framework_TestCase
{
    public function testErrors()
    {
        $errors = eve()
            ->model('{{name}}')
            ->restore()
            ->errors();

        $this->assertEquals('Cannot be empty', $errors['{{name}}_id']);
    }

    public function testProcess()
    {
        ${{name}} = eve()->registry()->get('test', '{{name}}');

        $row = eve()
            ->model('{{name}}')
            ->restore()
            ->process(array(
                '{{name}}_id' => ${{name}}['{{name}}_id'] ));

        $this->assertEquals(1, $row['{{name}}_active']);
    }
}